@media (max-width: 1919px) {

  .header__container {
    justify-content: space-between;
  }

  .logo {
    margin-right: 5%;
  }

  .nav {
    width: 70%;
    justify-content: space-between;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 15%;
  }

  .nav__item:not(:last-child) {
    margin-right: 5%;
  }

  .nav__link {
    font-size: 18px;
    line-height: 32px;
  }

  .hero__title {
    width: 51%;
    font-size: 60px;
  }

  .hero__details {
    margin: 0 0 64px;
    width: 49%;
  }

  .about__section-details {
    width: 100%;
  }

  .about__items-block {
    width: 100%;
  }

  .about__large-item {
    width: 49%;
    background-position: center;
    min-height: 0;
  }

  .about__dark-block {
    padding: 6%;
  }

  .about__dark-block .section-details {
    width: 60%;
  }

  .about__small-items {
    width: 49%;
  }

  .about__small-item:nth-child(1) {
    margin-bottom: 5%;
  }

  .about__small-item {
    padding: 7% 11% 7% 34%;
    background-size: 25%;
    background-position-x: 6%;
  }

  .about__small-item .section-details {
    font-size: 16px;
    line-height: 32px;
  }

  .about__small-item-title {
    font-size: 20px;
    line-height: 21px;
  }

  .how-we-work__details {
    width: 100%;
    background-position: right center;
    background-size: cover;
  }

  .how-we-work__wrapper {
    width: 40%;
    background-color: var(--light-bgr-color);
  }

  .how-we-work__header {
    width: 98%;
  }

  .how-we-work__details .section-details {
    width: 98%;
  }

  .how-we-work__buttons {
    width: 98%;
  }

  .how-we-work__btn-1 {
    margin-right: 7%;
  }

  .faq__summary {
    width: 93%;
  }

  .footer .container {
    justify-content: space-between;
  }

  .footer__logo img {
    max-width: 176px;
  }

  .footer__menu {
    width: 19%;
    margin-right: 0;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__contact-form {
    width: 44%;
    max-width: 570px;
    margin-right: 0;
  }

  .footer__form-title,
  .footer__form {
    width: 100%;
  }

  .footer__send-form-btn {
    margin: 0 18px 10px 0;
  }

  .footer__about {
    width: 27%;
  }
}

@media (max-width: 1024px) {

  .header {
    margin: 0 0 14px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header .container {
    padding-top: 26px;
  }

  .container {
    margin: 0 auto;
    padding: 26px 50px 0;
    max-width: 1024px;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
  }

  .nav {
    width: auto;
  }

  .burger-line {
    width: 100%;
    height: 3px;
    background-color: #000;
  }

  .nav__list {
    display: none;
  }

  .logo {
    margin-right: 0;
  }

  .logo img {
    width: 150px;
  }

  .nav__search-btn {
    padding: 4px 0 0;
  }

  main {
    margin-bottom: 82px;
  }

  .hero {
    margin-bottom: 10px;
  }

  .hero__slider {
    padding: 160px 77px 30px;
    width: 100%;
    background-image: url('../img/slider-1-mobile.jpg');
  }

  .hero__title {
    margin-bottom: 16px;
    width: auto;
    font-size: 60px;
    line-height: 73px;
    word-wrap: break-word;
  }

  .hero__details {
    margin: 0 0 60px;
    width: 86%;
    font-size: 20px;
    line-height: 24px;
  }

  .hero__btn {
    margin-bottom: 115px;
  }

  .about {
    margin-bottom: 80px;
  }

  .about__section-details {
    margin: 0 0 59px;
    width: 100%;
  }

  .about__items-block {
    flex-direction: column;
  }

  .about__large-item {
    margin-bottom: 32px;
    width: 100%;
    height: 640px;
    background-image: url('../img/about-img-1-mobile.jpg');
  }

  .about__dark-block {
    padding: 50px;
  }

  .about__small-items {
    width: 100%;
  }

  .about__small-item {
    padding: 65px 100px 65px 316px;
    background-position: 75px center;
    background-size: 20.5%;
  }

  .about__small-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__small-item-title {
    font-size: 24px;
    line-height: 29px;
  }

  .about__small-item .section-details {
    width: 90%;
  }

  .how-we-work {
    margin-bottom: 80px;
  }

  .how-we-work .container {
    padding: 0 50px;
  }

  .how-we-work__header {
    margin: 0 0 9px;
    max-width: 437px;
  }

  .how-we-work__item {
    word-wrap: break-word;
  }

  .how-we-work__details {
    background-position: 487px 14px;
    background-image: url('../img/how-1-mobile.jpg');
  }

  .how-we-work__details .section-details {
    width: 437px;
  }

  .how-we-work__buttons {
    padding-top: 24px;
  }

  .how-we-work__btn-1 {
    margin-right: 9%;
  }

  .faq .container {
    padding: 0 50px;
  }

  .faq__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    min-height: 110px;
  }

  .faq__summary {
    font-size: 20px;
    width: 756px;
  }

  .footer .container {
    padding: 50px 50px 40px;
  }

  .footer__logo {
    margin-bottom: 16px;
  }

  .footer__logo img {
    max-width: 128%;
  }

  .footer__menu {
    max-width: 30%;
    width: auto;
  }

  .footer__social-icon:not(:last-child) {
    margin-right: 21px;
  }

  .footer__contact-form {
    width: 100%;
    max-width: 540px;
    margin-right: 0;
  }

  .footer__form {
    width: 541px;
  }

  .footer__form-title {
    word-wrap: break-word;
  }

  .footer__input:not(:last-child) {
    margin-bottom: 22px;
  }

  .footer__input:last-child {
    margin-bottom: 31px;
  }

  .footer__send-form-btn {
    padding: 18px 36px;
  }

  .footer__about {
    display: none;
  }
}

@media (max-width: 768px) {

  .header {
    margin: 0 0 16px;
    min-height: 67px;
  }

  .header__container {
    justify-content: space-between;
  }

  .header .container {
    padding-top: 11px;
  }

  .container {
    margin: 0 auto;
    padding: 26px 50px 0;
    max-width: 768px;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
  }

  .burger-line {
    width: 100%;
    height: 3px;
    background-color: #000;
  }

  .nav__list {
    display: none;
  }

  .logo {
    margin-right: 0;
  }

  .logo img {
    width: 150px;
  }

  .nav__search-btn {
    padding: 4px 0 0;
  }

  main {
    margin-bottom: 112px;
  }

  .hero {
    margin-bottom: 10px;
  }

  .hero__slider {
    padding: 160px 40px 30px;
    width: 100%;
    background-image: url('../img/slider-1-mobile.jpg');
  }

  .hero__title {
    margin-bottom: 16px;
    width: 100%;
    font-size: 50px;
    line-height: 61px;
    overflow-wrap: break-word;
  }

  .hero__details {
    margin: 0 0 60px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }

  .hero__btn {
    margin-bottom: 115px;
  }

  .about {
    margin-bottom: 80px;
  }

  .about__section-details {
    margin: 0 0 54px;
    width: 100%;
  }

  .about__items-block {
    flex-direction: column;
  }

  .about__large-item {
    margin-bottom: 32px;
    width: 100%;
    height: 650px;
    background-image: url('../img/about-img-1-mobile.jpg');
  }

  .about__dark-block {
    padding: 34px 40px;
  }

  .about__dark-block .section-details {
    width: 366px;
  }

  .about__small-items {
    width: 100%;
  }

  .about__small-item {
    padding: 35px 44px 35px 170px;
    background-position: 40px center;
    background-size: 17%;
  }

  .about__small-item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__small-item .section-details {
    width: 100%;
  }

  .how-we-work {
    margin-bottom: var(--narow-bottom-mrg);
  }

  .how-we-work .container {
    padding: 0 50px;
  }

  .how-we-work__header {
    padding-top: 3px;
    width: 100%;
  }

  .how-we-work__list {
    margin-bottom: 43px;
    justify-content: space-between;
  }

  .how-we-work__item {
    word-wrap: break-word;
  }

  .how-we-work__details {
    padding-top: 327px;
    background-position: 0 5px;
    background-image: url('../img/how-2-mobile.jpg');
    background-size: contain;
  }

  .how-we-work__wrapper {
    width: 100%;
  }

  .how-we-work__details .section-details {
    width: 100%;
  }

  .how-we-work__buttons {
    padding-top: 21px;
  }

  .how-we-work__btn-1 {
    margin-right: 5%;
}

  .faq .container {
    padding: 0 50px;
  }

  .faq__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    min-height: 110px;
  }

  .faq__summary {
    font-size: 20px;
    width: 93%;
    max-width: 638px;
  }

  .faq__open-btn {
    position: absolute;
    right: 0;
  }
  .footer .container {
    flex-direction: column-reverse;
    padding: 50px 50px 45px;
  }

  .footer__logo {
    margin-bottom: 11px;
  }

  .footer__menu {
    margin-right: 132px;
  }

  .footer__nav {
    display: none;
  }

  .footer__social-icon:not(:last-child) {
    margin-right: 21px;
  }

  .footer__contact-form {
    width: 100%;
    margin-right: 0;
  }

  .footer__form {
    width: 100%;
    max-width: 541px;
  }

  .footer__form-title {
    word-wrap: break-word;
  }

  .footer__input:not(:last-child) {
    margin-bottom: 22px;
  }

  .footer__input:last-child {
    margin-bottom: 22px;
  }

  .footer__send-form-btn {
    margin: 8px 18px 50px 0;
    padding: 18px 36px;
  }

  .footer__about {
    display: none;
  }
}

@media (max-width: 576px) {

  .header {
    margin: 0 0 14px;
    min-height: 67px;
    border-radius: 0px 0px 16px 16px;
  }

  .header .container {
    padding-top: 17px;
  }

  .container {
    margin: 0 auto;
    padding: 26px 0 0;
    max-width: 90%;
  }

  .header__container {
    justify-content: space-between;
  }

  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 23px;
  }

  .burger-line {
    width: 100%;
    height: 3px;
    background-color: #000;
  }

  .nav__list {
    display: none;
  }

  .logo {
    margin-right: 0;
  }

  .logo img {
    width: 110px;
  }

  .nav__search-btn {
    padding: 4px 0 0;
  }

  main {
    margin-bottom: 59px;
  }

  .title {
    font-size: 24px;
    line-height: 29px;
  }

  .hero {
    margin-bottom: 10px;
  }

  .hero .container {
    padding: 18px 0 0;
  }

  .hero__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 22px 15px;
    width: 100%;
    border-radius: 16px;
    background-image: url('../img/slider-1-mobile.jpg');
  }

  .hero__title {
    margin-bottom: 8px;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    overflow-wrap: break-word;
  }

  .hero__details {
    margin: 0 0 32px;
    width: 100%;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .hero__btn {
    margin-bottom: 34px;
    padding: 13px 28px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 15px;
  }

  .hero__elipse {
    width: 10px;
    height: 10px;
    background-size: 88%;
    background-repeat: no-repeat;
  }

  .about {
    margin-bottom: 62px;
  }

  .about .container {
    padding: 50px 0 0;
  }

  .about__section-details {
    margin: 0 0 14px;
    width: 100%;
    font-size: 14px;
    line-height: 28px;
  }

  .about__dark-block {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 208px;
    padding: 0;
    background: none;
  }

  .about__items-block {
    flex-direction: column;
  }

  .about__large-item {
    min-height: 0;
    height: fit-content;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
    width: 100%;
    border-radius: 0;
    background-image: none;
  }

  .about__hidden-pic {
    display: block;
    margin-bottom: 4px;
    width: 100%;
  }

  .about__hidden-pic img {
    width: 100%;
  }

  .about__dark-block {
    margin-top: 0;
  }

  .about__dark-block .section-details {
    margin-bottom: 12px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--color-dark);
  }

  .about__btn {
    padding: 10px 42px;
    color: var(--main-theme-color);
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border: 2px solid var(--main-theme-color);
    border-radius: 8px;
    transition: color 0.3s ease-in-out;
  }

  .about__btn:hover {
    color: #fff;
  }

  .about__small-items {
    width: 100%;
  }

  .about__small-item {
    padding: 21.5% 0 0;
    border: none;
    background-position: 0 0;
    background-size: 22%;
  }

  .about__small-item:not(:last-child) {
    margin-bottom: 32px;
  }

  .about__small-item-title {
    margin: 0 0 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .about__small-item:nth-child(1) {
    background-image: url(../img/about-img-2-320.svg);
  }

  .about__small-item:nth-child(2) {
    background-image: url(../img/about-img-3-320.svg);
  }

  .about__small-item .section-details {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .how-we-work {
    margin-bottom: 60px;
  }

  .how-we-work .container {
    padding: 0;
  }

  .how-we-work__title {
    margin-bottom: 19px;
  }

  .how-we-work__header {
    margin: 0 0 8px;
    padding-top: 3px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .how-we-work__list {
    margin-bottom: 7px;
    justify-content: space-between;
  }

  .how-we-work__item {
    width: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    overflow-wrap: break-word;
  }

  .how-we-work__item-btn:not(:last-child) {
    margin-right: 4px;
  }

  .how-we-work__details {
    padding-top: 181px;
    background-position: 0 8px;
    background-image: url('../img/how-1-320.svg');
  }

  .how-we-work__details .section-details {
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .how-we-work__buttons {
    padding-top: 25px;
    justify-content: space-between;
  }

  .how-we-work__btn-1 {
    margin-right: 10px;
    padding: 11px 43px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .how-we-work__btn-2 {
    padding: 11px 31px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .faq .container {
    padding: 0;
  }

  .faq__title {
    margin-bottom: 16px;
  }

  .faq__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    min-height: 110px;
  }

  .faq__summary {
    max-width: 245px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .faq__open-btn {
    width: 30px;
  }

  .footer .container {
    flex-direction: column-reverse;
    padding: 33px 0 27px;
  }

  .footer__logo {
    margin-bottom: 11px;
  }

  .footer__logo img {
    width: 131px;
  }

  .footer__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 16px;
  }

  .footer__nav {
    display: none;
  }

  .footer__social-icon svg {
    width: 40px;
    height: 40px;
  }

  .footer__social-icon:not(:last-child) {
    margin-right: 12px;
  }

  .footer__form {
    width: 100%;
  }

  .footer__contact-form {
    width: 100%;
    margin-right: 0;
  }

  .footer__form {
    width: 100%;
  }

  .footer__form-title {
    margin-bottom: 20px;
    width: 100%;
    word-wrap: break-word;
  }

  .footer__input {
    padding: 13px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .footer__input:not(:last-child) {
    margin-bottom: 25px;
  }

  .footer__input:last-child {
    margin-bottom: 25px;
  }

  .footer__send-form-btn {
    display: block;
    margin: -5px auto;
    padding: 11px 27px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .footer__agreement-block {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0px 15px;
    border-bottom: 1px solid #414141;
  }

  .footer__about {
    display: none;
  }
}
